@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

$site-font: "Open Sans", sans-serif;
$headline-font: "Merriweather", serif;
$content-font: "Roboto", sans-serif;

$product-description-font: "Merienda", cursive;
$product-name-font: "Special Elite", cursive;
$goodsumpire-font: "Audiowide", cursive;
$product-card-name-font: "Acme", sans-serif;
